body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: left;
}

header {
    text-align: center;
    padding-top: 30px;
}

h1 {
    font-size: 55px;
    color: #333;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#seznamy, #tabulky {
    padding: 20px;
    width: 90%;
    max-width: 1100px;
    border-style: solid;
    border-color: rgb(180, 179, 179);
    border-width: 2px;
    border-top: none;
    border-bottom: none;
}

h2 {
    background-color: rgb(163, 35, 35);
    color: white;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    border-radius: 12px;
    font-weight: bold;
    display: block;
    margin-bottom: 30px;
}

#seznamy h2, #tabulky h2 {
    background-color: rgb(170, 28, 28);
    color: white;
    padding: 2px;
    border-radius: 8px;
    font-size: 2em;
    margin-bottom: 20px;
}

h3 {
    text-transform: uppercase;
    color: rgb(30, 63, 112);
    margin-bottom: 15px;
}

ol, ul, dl {
    margin-left: 40px;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

caption {
    font-style: italic;
    color: white;
    background-color: rgb(78, 74, 74);
    padding: 10px;
}

thead, tfoot {
    background-color: lightgrey;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
}

th {
    text-align: center;
}
.ramecek {
    border-collapse: collapse;
    width: 100%;
  }
